
*{
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}
html,body,#root {
  width:100%;
  height: 100vh;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;

}
body{
  background-color: black;
}
*>h3{
  font-size: 3rem;
  color:white;
}
*>p{
  font-size: 2rem;
  color:white;
}

@media  (max-width:768px) {
  *>p{
    font-size: 1.5rem;
  }
} 