.Project{
    background-color:#1f1f1f;
    z-index:1;
    margin: 20px;
    border-radius: 1rem;
    width:300px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 2px  #242424;;
}

.Project>img{
    object-fit:cover;
    width: 100%;
    max-height: 30vh;
}

.Project-text{
    margin:5px;
}

.Project-text>h3{
    color:white;
    text-align: center;
    font-size: 1rem;
}
.Project-text>p{
    font-size: 16px;
    text-align: center;
}
