p{
    font-size: 28px;
}
h2{
    margin-bottom: -15px;
}
.About-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    
}

.About-card{
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;
    justify-content: center;
}
.About-text{
    
    text-align: center;
    
    
}

.astro{
    animation: float 3.5s ease-in-out infinite;
    width: 50%;
    height: 50%;
    margin: 0rem -3rem;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media  (max-width:950px) {
    .About-container{
        width: 100%;
        margin-bottom: 100px;
    }
    .About-card{
        flex-direction: column;
    }
    .astro{
        margin: -100px 0px -100px 0px;
    }
} 