
.About-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.About-card{
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;
    justify-content: center;
}
.About-text{    
    text-align: center;
}

.astro{
    animation: float 3.5s ease-in-out infinite;
    width: 50%;
    height: 50%;
    margin: 0rem -3rem;
    z-index: 1;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media  (max-width:950px) {
    .About-container{
        width: 100%;
    }
    .About-card{
        flex-direction: column;
    }
    .astro{
        margin-bottom:-60px;
    }
} 