.Contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Contact-container{
    height: 100vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}




.Contact-form{
    display: flex;
    flex-direction: column;
    color:white;
    z-index: 1;
}
.Contact-form-icons{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 2rem;
    color:white;
    font-size: 200px;
}
.Contact-form-icon:hover{
    color:purple;
}

.Contact-form>input{
    border-radius: 5px;
    height: 30px;
    color: white;
    background-color: #1f1f1f;
    border-color: white;
}
.Contact-form>label{
    margin-bottom: 5px;
}
.Contact-form>textarea{
    border-radius: 5px;
    background-color: #1f1f1f;
    border-color:white;
    color:white;
}
.Contact-form-container{
    background-color: #1f1f1f;
    padding:20px;
    margin-top:10vh;
    border-radius: 5px;
    z-index: 1;
}
.Contact-form-container>h3{
    color: white;
    text-align: center;
    font-size: 22px;
}
.Contact-form-container>button{
    font-size: 18px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    z-index: 1;
    width: 80px;
    float: right;
    margin-top: 20px;
}