.Footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    z-index: 1;
    width: 100%;
    margin-top: 20px;
    color: white;
    
    
}
.Footer>small{
    margin: 5px;
    text-align: center;
}

.Footer-container{
    display: flex;
    justify-content: space-evenly;
    width:100%;

}

.Footer-container>ul{
    list-style: none;
    text-align: left;
    padding: 20px;
}
.Footer-container>ul>li{
    padding: 5px;
}
.Footer-container>ul>li>a{
    color:white;
    text-decoration: none;
}
.Footer-container>ul>li>a::after{
    content: '';
    display: block;
    transform: scaleX(0);
    border-bottom: 3px solid white;
    border-radius: 5px;
    transition: transform 0.2s ease;
}
.Footer-container>ul>li>a:hover::after{
    transform: scaleX(1);
    
}