
.Landing-Container{
    display:flex;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    
}

.Landing-text{
    width: 55%;
    margin:0rem 0rem 3rem 3rem;
}

.Landing-h3{
    margin-bottom: -10px;
}

@media  (max-width:767px) {
    .Landing-text{
        width: 100%;
        margin-left: 2rem;
    }
    .Landing-p{
        font-size: 1.5rem;
    }
    .Landing-h3{
        font-size: 2rem;
    }
} 