.Project{
    background-color:#1f1f1f;
    z-index:1;
    margin: 20px;
    border-radius: 1rem;
    width:300px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 2px  #242424;;
}

.Project-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px;

}

.Project-text>h3{
    text-align: center;
    font-size: 1rem;
}
.Project-text>p{
    font-size: 16px;
    text-align: center;
}
.Project-text>div{
    text-align: center;
}
.Project-text>div>a{
    color:white;
    padding: 10px;
    text-align: center;
}
